---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_15J9kVJwPS7CsuHvd4voTUnJ&description=Charge%20for%20MyFlix%20for%20user1%40example.com
    headers:
      Authorization:
      - Bearer sk_test_B2910d2ZEeOwXAC6NbJhSbfr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15J9kWJwPS7CsuHvFfIlM5fx",
          "object": "charge",
          "created": 1420836772,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "card": {
            "id": "card_15J9kVJwPS7CsuHvVITNe6wD",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2018,
            "fingerprint": "rLAb2nRO0fHnP9cK",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "balance_transaction": "txn_15J9kXJwPS7CsuHvM1po3t6f",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Charge for MyFlix for user1@example.com",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15J9kWJwPS7CsuHvFfIlM5fx/refunds",
            "data": []
          }
        }
  recorded_at: Fri, 09 Jan 2015 20:52:53 GMT
recorded_with: VCR 2.9.3
