---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_15JByOJwPS7CsuHvDOlfliW9&description=Charge%20for%20MyFlix%20for%20user1%40example.com
    headers:
      Authorization:
      - Bearer sk_test_B2910d2ZEeOwXAC6NbJhSbfr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15JByPJwPS7CsuHvbh9vP8Rz"
          }
        }
  recorded_at: Fri, 09 Jan 2015 23:15:21 GMT
recorded_with: VCR 2.9.3
