---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15KZdqJwPS7CsuHva6Aqr3QX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_B2910d2ZEeOwXAC6NbJhSbfr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15KZdqJwPS7CsuHva6Aqr3QX",
          "created": 1421174630,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15KZdqJwPS7CsuHvw8lj228G",
              "object": "charge",
              "created": 1421174630,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "captured": true,
              "card": {
                "id": "card_15KZdpJwPS7CsuHvVuCSoOc1",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2015,
                "fingerprint": "rLAb2nRO0fHnP9cK",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5VapeF51RrbKU3"
              },
              "balance_transaction": "txn_15KZdqJwPS7CsuHvJ9IzERK4",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_5VapeF51RrbKU3",
              "invoice": "in_15KZdqJwPS7CsuHvYv5tDthz",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "vpass charge",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15KZdqJwPS7CsuHvw8lj228G/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5Vap998eka1gQD",
          "api_version": "2014-12-22"
        }
  recorded_at: Tue, 13 Jan 2015 21:59:30 GMT
recorded_with: VCR 2.9.3
