- @categories.each do |category|
  .category-row
    %h1= link_to category.name, category_path(category)
    - category.recent_videos.each do |video|
      .each-video
        = link_to image_tag(video.small, width: '140'), video_path(video)
  