---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15LctmJwPS7CsuHvXFRUq0nX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_B2910d2ZEeOwXAC6NbJhSbfr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15LctmJwPS7CsuHvXFRUq0nX",
          "created": 1421425478,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_15LctmJwPS7CsuHvDBHmrbPH",
              "object": "charge",
              "created": 1421425478,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "captured": false,
              "card": {
                "id": "card_15LcsRJwPS7CsuHvFzHB56QE",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 1,
                "exp_year": 2018,
                "fingerprint": "Lw0f6IZCDJMXfN1k",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5WgEQVA4Flemfl"
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_5WgEQVA4Flemfl",
              "invoice": null,
              "description": "fail",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "myflix",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15LctmJwPS7CsuHvDBHmrbPH/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5WgGOxkb3XaaPg",
          "api_version": "2014-12-22"
        }
  recorded_at: Fri, 16 Jan 2015 22:36:54 GMT
recorded_with: VCR 2.9.3
