---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=1&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_B2910d2ZEeOwXAC6NbJhSbfr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15KFGhJwPS7CsuHvjYRM2awT",
          "livemode": false,
          "created": 1421096315,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15KFGgJwPS7CsuHv6NlVWv1s",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2018,
            "fingerprint": "71FLBolFjzrWPzwZ",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          }
        }
  recorded_at: Mon, 12 Jan 2015 20:58:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15KFGhJwPS7CsuHvjYRM2awT&plan=normal&email=adaline%40torpturner.biz
    headers:
      Authorization:
      - Bearer sk_test_B2910d2ZEeOwXAC6NbJhSbfr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Mon, 12 Jan 2015 20:58:35 GMT
recorded_with: VCR 2.9.3
