---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_B2910d2ZEeOwXAC6NbJhSbfr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15KbitJwPS7CsuHvrjN6Tgwu",
          "livemode": false,
          "created": 1421182631,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15KbitJwPS7CsuHv6uQhhdZB",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2018,
            "fingerprint": "rLAb2nRO0fHnP9cK",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          }
        }
  recorded_at: Tue, 13 Jan 2015 20:57:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15KbitJwPS7CsuHvrjN6Tgwu&plan=normal&email=houston%40botsfordking.biz
    headers:
      Authorization:
      - Bearer sk_test_B2910d2ZEeOwXAC6NbJhSbfr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1421182632,
          "id": "cus_5VcyaeuuZ0YTpM",
          "livemode": false,
          "description": null,
          "email": "houston@botsfordking.biz",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5VcyaeuuZ0YTpM/subscriptions",
            "data": [
              {
                "id": "sub_5VcyoOW9yyJVeM",
                "plan": {
                  "interval": "month",
                  "name": "regular priced plan",
                  "created": 1421091908,
                  "amount": 999,
                  "currency": "usd",
                  "id": "normal",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "vpass charge"
                },
                "object": "subscription",
                "start": 1421182632,
                "status": "active",
                "customer": "cus_5VcyaeuuZ0YTpM",
                "cancel_at_period_end": false,
                "current_period_start": 1421182632,
                "current_period_end": 1423861032,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5VcyaeuuZ0YTpM/cards",
            "data": [
              {
                "id": "card_15KbitJwPS7CsuHv6uQhhdZB",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 1,
                "exp_year": 2018,
                "fingerprint": "rLAb2nRO0fHnP9cK",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5VcyaeuuZ0YTpM"
              }
            ]
          },
          "default_card": "card_15KbitJwPS7CsuHv6uQhhdZB"
        }
  recorded_at: Tue, 13 Jan 2015 20:57:12 GMT
recorded_with: VCR 2.9.3
