<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MyFlix, <%= @user.name %></h1>
    <p>
      MyFlix has one of the largest selections of videos around.  We hope you will enjoy our watching our huge collection.
    </p>
    
  </body>
</html>